.CoCCW_container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr  1fr;
    column-gap: 10px;
    row-gap: 10px;
    border: 1px white solid;
    border-radius: 5px;
    margin: 0 auto;
    padding: 10px;
}

.CoCCW_element {
    display: flex;
    align-self: center;
    justify-self: center;
}

.stats {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

span {
    margin-left: 20px;
    margin-right: 20px;
}

.CoCCW_image {
    width: 40px;
}

.bigger {
    font-size: x-large;
}